<p>search works!</p>
<div class="form-group">

        <div class="form-group">
                <label class="col-md-4">UserID</label>
                <input type="text" class="form-control" 
                #empId onfocus="this.value=''"/>
              </div>
              <br>
              <div class="form-group">
                <button (click) = "getEmpId()" type="submit" class="btn btn-primary" >
                  Reterive
                </button>
              </div>
</div>
    <br>
<table class="table table-hover">
        <thead>
        <tr>
            <td>UserID</td>
            <td>FirstName</td>           
            <td>Email</td>
            <td>Phone</td>
          
            
        </tr>
        </thead>
      
        <tbody>
                <tr *ngFor="let emp of employees">
                        <p *ngIf="emp.empId==empId.value">
                        <td>{{ emp.empId }}</td>
                        <td>{{ emp.ename }}</td>
                
                        <td>{{ emp.email }}</td>
                        <td>{{ emp.phone }}</td>

                        
                        </p>
                </tr>
        </tbody>

