<p>update works!</p>

<table>
    <tr>
        <td>EmpID</td>
        <td>{{employee.empId}}</td>
      </tr>
      
  <tr>
      <td>EmpName</td>
      <td><input [(ngModel)]="employee.ename"/></td>
  </tr>

  <tr>
    <td>Email</td>
    <td><input [(ngModel)]="employee.email"/></td>
</tr>
 
  <tr>
      <td>Phone</td>
      <td><input [(ngModel)]="employee.phone"/></td>
  </tr>
 <tr>
   <td><button (click)="save()">Update</button></td>
 </tr>
 
</table>

          

            
        
    

